@font-face { font-family: Retro; src: url( 'res/visitor2.ttf'); }

html, body
{
  -webkit-user-select:none;
  -moz-user-select:none;
  cursor: default;
  margin: 0px;
  overflow: hidden;
  font-family: Retro;  
}

canvas
{
  width: 100%;
  height: 100%;
}

@keyframes fadeIn
{
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

@-webkit-keyframes fadeIn /* Safari and Chrome */
{
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

@keyframes fadeOut
{
  from {opacity: 0.0;}
  to {opacity: 1.0;}
}

@-webkit-keyframes fadeOut /* Safari and Chrome */
{
  from {opacity: 0.0;}
  to {opacity: 1.0;}
}

#header
{
  position: absolute;
  display: block;
  width: 100%;
  height: 25px;
  top: 0px;
  padding: 5px;
  background-color: rgba(25, 25, 25, 0.9);
  color: #aaa;
  font-size: 26px;
  text-align: center;
  line-height: 100%; 
  z-index: 2;
}

#footer
{
  position: absolute;
  display: block;
  width: 100%;
  height: 25px;
  bottom: 0px;
  padding: 5px;
  background-color: rgba(25, 25, 25, 0.9);
  color: #aaa;
  font-size: 26px;
  text-align: center;
  line-height: 100%; 
  z-index: 2;
}

#fullscreen
{
    background-color:#F0F0F0;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: 3;
}

#ending
{
  -webkit-box-shadow: rgb(255, 243, 195) 0px 0px 200px 50px inset;
  background-color: rgb(255, 253, 242);
  box-shadow: rgb(255, 243, 195) 0px 0px 200px 50px inset;
  display: block;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    margin: 0px;
    opacity: 0;
}

#text
{
    font-size: 90px;
    text-align: center;
    vertical-align: center;  
  margin-left: 10%;
  margin-top: 10%;
  margin-right: 10%;
  opacity: .9;
}

#splashtext
{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 200px;
    left: 0px;
    top: 0px;
    position: absolute;  
    font-size: 120px;
    text-align: center;
    vertical-align: middle; 
    display: block; 
    margin-top: 10%;
    color: rgba(41, 36, 33, 0.8);
    opacity: 0;
}

div.Fade
{
    background-color: #fffdf2;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    animation: fadeIn 5.0s;
    -webkit-animation: fadeIn 5.0s; /* Safari and Chrome */
    position: absolute;
}

div.Splash
{
    display: inline-block;
    background-image:url('res/splash.png');
    background-repeat: no-repeat;
    background-position: center center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    font-size: 44px;
    animation: fadeOut 6.0s;
    -webkit-animation: fadeOut 6.0s; /* Safari and Chrome */
}

div.SplashFadeOut
{
    display: inline-block;
    background-image:url('res/splash.png');
    background-repeat: no-repeat;
    background-position: center center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    font-size: 44px;
    animation: fadeIn 6.0s;
    -webkit-animation: fadeIn 6.0s; /* Safari and Chrome */
}
